html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', serif;
}

.section-one {
    background-color: #1f2937;
    height: 400px;
}

.navbar {
    display: flex;
    padding: 15px;
}

.header-links {
    display: flex;
    gap: 20px;
    margin-right: auto;
}

.navbar img {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
}

.navbar a {
    font-size: 18px;
    color: #e5e7eb;
}

.media {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content {
    height: 300px;
    width: 400px;
}

.content p {
    color: #e5e7eb;
    margin-top: -35px;
}

.content button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    border: 0;
}

.media img {
    background-color: #5b626b;
    color: #e5e7eb;
    height: 225px;
    width: 475px;
    max-width: 100%;
    align-self: center;
    text-align: center;
}